.section {
    @include adaptive-value("margin-bottom", 100, 50, 1);

    h2 {
        @include adaptive-value("margin-bottom", 80, 30, 1);
    }

    // .section__body

    &__body {
        position: relative;
    }

    // .section__flex

    &__flex {
        display: flex;
        justify-content: space-between;

        @media (min-width: 1025px) {
            @include adaptive-value("gap", 100, 0, 1);
        }

        @media (max-width: 1024px) {
            flex-direction: column;
        }

        // .section__flex-left

        &-left {
        }

        // .section__flex-right

        &-right {
        }
    }

    &.filters-section {
        margin-bottom: 48px !important;

        @media (max-width: 1200px) {
            border-top: 4px solid $accent;
            background-color: #fbfbfb;
            padding: 30px 0px;
        }
    }
}

.products {
    .swiper {
        @media (max-width: 768px) {
            width: 100vw;
            margin-left: -16px;
            padding-inline: 16px;
        }
    }

    .grid {
        gap: 30px 22px;

        @media (max-width: 768px) {
            display: flex;
            gap: 0;
        }
    }
}

.provide {
    .section__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 38px;

        @media (max-width: 1024px) {
            gap: 23px;
        }
    }

    p {
        color: $black;
        text-align: center;
        font-weight: 500;
        line-height: normal;
        @include adaptive-value("font-size", 26, 16, 1);
    }

    a {
        color: $accent;
        text-align: center;
        @include adaptive-value("font-size", 32, 24, 1);
        font-weight: 700;
        line-height: 1.1;
    }
}

.manipulators {
    .grid {
        gap: 30px;

        @media (max-width: 1024px) {
            gap: 10px 8px;
        }
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        @include adaptive-value("height", 188, 140, 1);

        border: 1px solid #dbdbdb;
        transition: background-color 0.3s ease 0s;

        * {
            pointer-events: none;
        }

        svg,
        img {
            fill: none;
            stroke: $gray;
            width: 50px;
            height: 38px;
            transition: stroke 0.3s ease 0s;

            @media (max-width: 768px) {
                width: 37px;
                height: 28px;
            }
        }

        label {
            color: $gray;
            text-align: center;
            font-size: 18px;
            line-height: 1.2;
            padding: 5px 15px;
            border-radius: 100px;
            background: rgba(106, 101, 101, 0.1);
            transition: all 0.3s ease 0s;

            @media (max-width: 768px) {
                padding: 8px 18px;
                font-size: 16px;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $accent;

                svg {
                    stroke: $white;
                }

                label {
                    color: $white;
                    background-color: #84131b;
                }
            }
        }
    }
}

.pricelist {
    .grid {
        gap: 30px;
        @media (max-width: 768px) {
            gap: 30px 15px;
        }
    }
    p {
        text-align: center;
    }
}

.optional-equipment {
    .section__body {
        @media (max-width: 768px) {
            overflow-x: scroll;
            width: 100vw;
            margin-left: -16px;
            padding-inline: 16px;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .grid {
        gap: 30px;

        @media (max-width: 1024px) {
            gap: 30px 10px;
        }
    }
}

.service-tabs {
    .tab-content {
        @include adaptive-value("padding-left", 67, 15, 1);
        @include adaptive-value("padding-right", 67, 15, 1);
        position: relative;
    }
    .swiper-slide {
        height: auto;
    }
}

.advantages {
    background-color: #363439;
    position: relative;
    @include adaptive-value("padding-top", 100, 50, 1);
    @include adaptive-value("padding-bottom", 100, 50, 1);

    .bg-img {
        width: fit-content;
        height: fit-content;
        top: unset;
        bottom: 80px;
        left: 0;

        @media (max-width: 1024px) {
            display: none;
        }

        img {
            width: 822px;
            height: 627px;
        }
    }

    .section__body {
        position: relative;
        z-index: 2;
    }

    h2 {
        color: #ffffff;
        @include adaptive-value("margin-bottom", 80, 30, 1);
    }

    .grid {
        gap: 70px 60px;

        @media (max-width: 1024px) {
            gap: 42px 30px;
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 122px;
                height: 122px;
                border-radius: 50%;
                background: #fff;

                @media (max-width: 1024px) {
                    width: 90px;
                    height: 90px;
                }

                @media (max-width: 768px) {
                    width: 70px;
                    height: 70px;
                }

                img,
                svg {
                    width: 62px;
                    height: 62px;

                    @media (max-width: 1024px) {
                        width: 35px;
                        height: 35px;
                    }
                }
            }

            p {
                color: #eaeaea;
                text-align: center;
            }
        }
    }
}

.application {
    .section__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        background-color: #fbfbfb;
        @include adaptive-value("padding-top", 38, 28, 1);
        @include adaptive-value("padding-bottom", 38, 28, 1);
        @include adaptive-value("padding-left", 62, 15, 1);
        @include adaptive-value("padding-right", 62, 15, 1);

        @media (max-width: 768px) {
            gap: 25px;
        }

        img {
            width: 80px;
            height: 60px;
        }

        p {
            color: #000;
            text-align: center;
            @include adaptive-value("font-size", 32, 17, 1);
            font-weight: 500;
            line-height: normal;

            span {
                color: $accent;
            }
        }

        a {
            color: $accent;
            text-align: center;
            @include adaptive-value("font-size", 32, 24, 1);
            font-weight: 500;
            line-height: normal;
            @media (max-width: 768px) {
                font-weight: 700;
            }
        }

        button {
            @media (max-width: 768px) {
                font-weight: 700;
                width: 100%;
            }
        }
    }
}

.team {
    h2 {
        margin-bottom: 20px;
    }
    label {
        display: block;
        @include adaptive-value("margin-bottom", 60, 40, 1);
        text-align: center;
        color: #4a4646;
        text-align: center;
        font-weight: 400;

        @media (min-width: 769px) {
            br {
                display: none;
            }
        }
    }

    // .team__flex

    &__flex {
        display: flex;
        gap: 50px;

        @media (max-width: 1024px) {
            flex-direction: column;
            gap: 30px;
        }

        // .team__flex-img

        &-img {
            border: 1px solid #e1e1e1;
            max-width: 653px;
            width: 100%;
            height: auto;
            padding: 7px;

            @media (max-width: 1024px) {
                max-width: 100%;
                @include adaptive-value("height", 400, 220, 1);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        ol {
            & > :not(:last-child) {
                margin-bottom: 50px;

                @media (max-width: 1024px) {
                    margin-bottom: 30px;
                }
            }

            li {
                display: flex;
                gap: 20px;

                img {
                    width: 31px;
                    height: 31px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 17px;
                }

                span {
                    color: #080808;
                    text-align: center;
                    @include adaptive-value("font-size", 24, 18, 1);
                    font-weight: 700;
                    line-height: 1.1;
                    width: fit-content;
                }

                p {
                    color: #4a4646;
                    font-style: normal;
                }
            }
        }
    }
}

.works {
    .grid {
        @media (max-width: 768px) {
            display: flex;
        }
    }

    a {
        height: 284px;
        display: block;
        padding: 30px;
        position: relative;

        @media (max-width: 768px) {
            height: 256px;
        }

        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(51, 49, 54, 0) -5.84%, #96000a 137.42%);
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease 0s;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        h4 {
            position: relative;
            z-index: 2;
            color: #fffcfc;
            font-size: 24px;
            font-weight: 400;
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s ease 0s;
        }

        @media (any-hover: hover) {
            &:hover {
                &:after {
                    opacity: 1;
                }
                h4 {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }
}

.news {
    .grid {
        gap: 30px;
        margin-bottom: 50px;

        @media (max-width: 768px) {
            gap: 50px 13px;
        }
    }

    ._btn-red {
        width: 195px;
        margin-inline: auto;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.map {
    .section__body {
        height: 315px;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.links {
    ul {
        gap: 30px;

        @media (max-width: 768px) {
            gap: 7px;
        }

        li {
            border: 1px solid #dcdada;
            padding: 15px;
            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    background-color: $accent;
                    * {
                        color: $white;
                    }
                }
            }

            a {
                text-align: center;
                color: $accent;
                text-align: center;
                @include adaptive-value("font-size", 20, 14, 1);
                font-weight: 700;
                line-height: normal;
                width: 100%;
                display: block;
            }
        }
    }
}

.product {
    .section {
        // .section__container

        &__container {
        }

        // .section__body

        &__body {
        }

        // .section__flex

        &__flex {
            display: flex;
            justify-content: space-between;
            gap: 100px;

            @media (max-width: 1024px) {
                flex-direction: column;
                gap: 18px;
            }

            // .section__flex-left

            &-left {
                max-width: 458px;
                width: 100%;
                @media (max-width: 1024px) {
                    max-width: unset;
                    width: 100%;
                }

                ol {
                    & > :not(:last-child) {
                        margin-bottom: 24px;
                    }

                    div {
                        label {
                            display: block;
                            margin-bottom: 16px;
                            color: #000;
                            @include adaptive-value("font-size", 20, 14, 1);
                            font-weight: 700;
                            line-height: 1.1;
                        }

                        li {
                            display: flex;
                            justify-content: space-between;
                            gap: 15px;
                            padding: 10px 0;
                            border-top: 1px solid #e7e7e7;

                            &:last-child {
                                border-bottom: 1px solid #e7e7e7;
                            }

                            span {
                                color: #4a4646;
                                @include adaptive-value("font-size", 18, 14, 1);
                                font-weight: 400;
                                line-height: 1.2;
                            }
                        }
                    }
                }
            }

            // .section__flex-right

            &-right {
                @media (max-width: 1024px) {
                    order: -1;
                }
            }
        }
    }

    // .product-tabs

    &-tabs {
        p {
            color: #4a4646;

            &:not(:last-child) {
                @include adaptive-value("margin-bottom", 50, 25, 1);
            }
        }
    }
}

.category {
    .section__flex-right {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    .filters-area {
        margin-bottom: 48px;

        &__body {
            @media (min-width: 1025px) {
                padding: 24px 30px 30px 30px;
            }
        }

        .grid {
            gap: 15px;
            grid-template-columns: repeat(3, 1fr);

            @media (max-width: 1200px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 24px 7px;
            }

            &:not(._active) > :nth-child(n + 4) {
                display: none;
            }
        }
    }

    .product-card {
        width: 100% !important;
    }
}

.about {
    .section__flex-left {
        h4 {
            color: $black;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.1;

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        p {
            color: #4a4646;
            margin: 30px 0;

            @media (max-width: 768px) {
                font-size: 16px;
                margin-top: 15px;
                margin-bottom: 30px;
            }
        }

        ol,
        ul {
            padding-left: 22px;

            & > :not(:last-child) {
                margin-bottom: 30px;
            }

            li {
                list-style-type: disc;
                color: #090909;
                font-size: 22px;
                font-weight: 600;

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }

    .section__flex-right {
        flex: 0 0 auto;
        width: 457px;
        height: 292px;
        position: relative;

        @media (max-width: 1024px) {
            margin-top: 30px;
            width: 100%;
            @include adaptive-value("height", 400, 220, 1);
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.reviews {
    .section__body {
        & > :not(:last-child) {
            margin-bottom: 50px;
        }
    }
}

.detail-service {
    .text__box {
        @include adaptive-value("margin-bottom", 70, 50, 1);
    }

    .section__flex-right {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    .product-card {
        @media (max-width: 425px) {
            width: 100%;
        }
    }

    h2 {
        text-align: left;
    }
}

.prices {
    th {
        font-size: 15px;
    }

    td {
        font-size: 18px;
        min-width: 62px;

        @media (max-width: 1024px) {
            font-size: 14px;
        }
    }

    ._btn {
        height: 55px;
    }

    .section__body {
        overflow-x: auto;
        @media (max-width: 1024px) {
            width: 100vw;
            margin-left: -16px;
            padding-inline: 16px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.questions {
    .section__body {
        & > :not(:last-child) {
            padding-bottom: 55px;
            margin-bottom: 55px;
            border-bottom: 1px solid #dbdbdb;
        }
    }
}

.contacts {
    .grid {
        margin-bottom: 50px;
        gap: 100px;

        @media (max-width: 768px) {
            gap: 50px;
        }

        div {
            & > :not(:last-child) {
                @include adaptive-value("margin-bottom", 85, 50, 1);
            }
        }
    }

    ol {
        h4 {
            color: #4a4646;
            @include adaptive-value("margin-bottom", 40, 24, 1);
            font-size: 20px;
            font-weight: 600;
            line-height: 1.1;
        }

        li {
            &:not(:last-child) {
                @include adaptive-value("margin-bottom", 40, 24, 1);
            }

            span {
                display: block;
                margin-bottom: 13px;
                color: #4a4646;
                font-size: 18px;
            }

            a,
            p {
                color: #000;
                @include adaptive-value("font-size", 24, 18, 1);
                font-weight: 600;
                line-height: 1.1;
            }
        }
    }

    .sample-pdf {
        display: flex;
        flex-direction: column;
        gap: 26px;

        a {
            color: $accent;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.calculator {
    // .calculator-filter

    &-filter {
        // .calculator-filter__results

        &__results {
            label {
                display: block;
                font-size: 20px;
                font-weight: 600;
                line-height: 1.1;
                @include adaptive-value("margin-bottom", 46, 20, 1);

                @media (max-width: 768px) {
                    font-size: 18px;
                }
            }

            .form__bottom {
                display: flex;
                align-items: center;
                gap: 30px;
            }
        }
    }

    .clear-filters {
        display: block;
        color: $accent;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    .filters {
        // .filters-area

        &-area {
            .grid {
                grid-template-columns: repeat(3, 1fr);

                &:not(._active) > :nth-child(n + 5) {
                    display: block;
                }

                @media (max-width: 768px) {
                    display: block;
                    & > :not(:last-child) {
                        margin-bottom: 28px;
                    }
                }
            }

            .filter-text {
                margin-top: 20px;
                grid-column: span 3;
                width: fit-content;
                background: #e7fae6;
                padding: 10px 20px;
                color: #00963c;

                @include adaptive-value("font-size", 20, 14, 1);
            }
        }

        // .filters-checkboxes

        &-checkboxes {
            display: flex;
            gap: 12px;
            align-items: center;
            @include adaptive-value("margin-bottom", 40, 30, 1);

            &:has(#rejs:checked) + .grid {
                .filter-text,
                .filter-smena,
                .filter-hours {
                    display: none;
                }
            }

            input {
                accent-color: $accent;
            }

            span {
                color: $black;
                @include adaptive-value("font-size", 18, 14, 1);
                font-weight: 600;
                line-height: 1.1;
            }

            label,
            input {
                cursor: pointer;
            }
        }
    }

    .truck {
        display: flex;
        padding: 20px;
        background-color: #fbfbfb;
        gap: 35px;
        max-width: 752px;
        @include adaptive-value("margin-bottom", 54, 30, 1);

        @media (max-width: 768px) {
            gap: 28px;
            padding: 10px;
        }

        // .truck-img

        &-img {
            @include adaptive-value("width", 231, 91, 1);
            img,
            picture {
                height: auto;
            }
        }

        .price {
            margin-top: 24px;

            label {
                display: block;
                color: #4a4646;
                margin-bottom: 13px;
                line-height: 1.2;
                font-size: 17px;

                @media (max-width: 768px) {
                    font-size: 14px;
                    margin-bottom: 9px;
                }
            }

            span {
                display: block;
                font-size: 26px;
                font-weight: 700;
                line-height: 1.1;
                color: $accent;

                @media (max-width: 768px) {
                    font-size: 22px;
                }
            }
        }
    }

    .form {
        max-width: 752px;
        width: 100%;

        &__row {
            width: 100%;
        }

        // .form__item

        &__item {
            width: 100%;
        }

        // .form__bottom

        &__bottom {
            @media (max-width: 768px) {
                flex-direction: column;
            }
        }
    }
}

.reviews-list {
    & > :not(:last-child) {
        @include adaptive-value("margin-bottom", 50, 25, 1);
    }
}
